body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.calculator {
    max-width: 400px;
    margin: 12em auto;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.calculator input[type="text"] {
    width: 100%;
    height: 60px;
    padding: 10px;
    font-size: 24px;
    color: #ffffff;
    background-color: #222222;
    border: none;
    border-bottom: 2px solid #555555;
    text-align: right;
    box-sizing: border-box;
}

.calculator .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.calculator .row .button {
    flex: 1;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    color: #222222;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.calculator .row .button:hover {
    background-color: #dddddd;
}
.calculator .row .button:active{
    background-color: #7e7777;

}

.calculator .row .button.operator {
    background-color: #e0e0e0;
}

.calculator .row .button.operator:hover {
    background-color: #dddddd;
}

.calculator .row .button.operator:active {
    background-color: #be2222;
}

.calculator .row .button.equal {
    background-color: #4caf50;
    color: #ffffff;
}

.calculator .row .button.equal:hover {
    background-color: #45a049;
}

.calculator .row .button.clear {
    background-color: #ff5722;
    color: #ffffff;
}

.calculator .row .button.clear:hover {
    background-color: #e64a19;
}

@media (max-width: 480px) {
    .calculator {
        max-width: 320px;
    }

    .calculator input[type="text"] {
        font-size: 20px;
    }

    .calculator .row .button {
        font-size: 16px;
        height: 40px;
        padding: 8px;
    }
}